@media screen and (max-width: 600px) {
  .ProfileScreenContainer {
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    background-color: whitesmoke;
  }

  .profileHeader {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #3eb489;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profileHeader > div > h1 {
    font-size: 20px;
    color: black;
    font-weight: 500;
    margin-top: 5px;
  }

  .profileHeader > div > h2 {
    font-size: 16px;
    color: black;
    font-weight: 480;
    margin-top: 2px;
  }


  .locationIconTextContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
  }

  .locationText {
    font-size: 14px;
    color: black;
    font-weight: 400;
    margin-left: 5px;
    /* text-align: center; */
  }

  .profileImage {
    border-radius: 1000px;
    margin-top: 10%;
    border: 2px solid white;
    object-fit: contain;
    width: 35%;
  }

  .socialIconsRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 2px;
  }

  .socialIcon {
    margin-left: 2%;
    margin-right: 2%;
  }

  .bioContainer {
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    padding: 0% 3%;
    background-color: white;
    border-radius: 10px;
  }

  .bioContainer > h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0px;
  }

  .bioContainer > p {
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0px;
  }

  .bioDivider {
    margin-left: 5%;
    margin-right: 4%;
  }

  .seeMoreButton {
    border: none;
    background-color: white;
    font-size: 12px;
    font-weight: 600;
    color: lightgrey;
  }

  .seeLessButton {
    border: none;
    background-color: white;
    font-size: 12px;
    font-weight: 600;
    color: lightgrey;
    margin-top: 5px;
  }

  .nameSportTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .locationIconTextContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
  }

  .profileItemListHeader {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0px;
  }

  .profileItemListContainer {
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 5%;
    border-radius: 10px;
    padding: 0% 3%;
  }

  .seeMoreSeeLessItemButton {
    border: none;
    background-color: transparent;
    width: 106.5%;
    /* margin: 0% -20%; */
    align-self: center;
    height: 60px;
    /* margin: 20px 0px; */
    color: rgb(19, 99, 204);
    font-size: 15px;
    font-weight: 500;
    margin-top: -20px;
  }

  .seeMoreSeeLessItemButton:hover {
    cursor: pointer;
    background-color: aliceblue;
  }


  .spogoLogo {
    display: flex;
    /* width: 100%; */
    /* align-self: center;
      align-items: center; */
  }

  .spogoLogo > img {
    display: block;
    object-fit: contain;
    margin: 50px auto;
    width: 30%;
  }

  .videoItemArrayList {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  .wildcardLinkModalContentContainer > h1 {
    margin: 4% 0%;
    font-size: 20px;
  }

  .wildcardLinkModalContentContainer > p {
    margin: 2% 0%;
  }

  .wildcardLinkModalContainer {
    background-color: white;
    padding: 3% 8%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 100px 10%;
  }

  .wildcardLinkModalButtonsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
  }

  .wildcardLinkModalButton {
    flex: 0.5;
    margin: 0% 2%;
    border: none;
    background-color: #3eb489;
    color: black;
    padding: 5% 0%;
    border-radius: 5px;
  }

  .componentHeaderDivider {
    width: 100%;
  }

  .componentBottomDivider {
    width: 100%;
    margin-bottom: 20px;
    margin-top: -1px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
  .ProfileScreenContainer {
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    background-color: whitesmoke;
  }

  .profileHeader {
    /* border: solid; */
    margin-top: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    /* background-color: rgb(219, 208, 208); */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nameSportTextContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    /* margin-bottom: 1%; */
  }

  .websiteUserName {
    font-size: 20px;
    color: black;
    font-weight: 500;
  }

  .websiteSportPositionText {
    font-size: 16px;
    color: black;
    font-weight: 480;
    margin-top: 5px;
  }


  .locationIconTextContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
  }

  .locationText {
    font-size: 14px;
    color: black;
    font-weight: 400;
    margin-left: 5px;
    /* text-align: center; */
  }

  .profileTextContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
  }

  .profileImage {
    border-radius: 1000px;
    border: 3px solid white;
    object-fit: contain;
    width: 120px;
  }

  .locationIconTextContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
  }

  .socialIconsRow {
    display: flex;
    flex-direction: row;
    width: 250px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;

    /* justify-content: flex-start; */
  }

  .socialIcon {
    margin: 0px 5px;
  }

  .socialIcon:hover {
    /* margin-right: 5%; */
    cursor: pointer;
  }
  .bioContainer {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    padding: 0% 3%;
    background-color: white;
  }

  .bioContainer > h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0px;
  }

  .bioContainer > p {
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0px;
  }

  .profileItemListHeader {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0px;
  }

  .profileItemListContainer {
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 5%;
    /* border-radius: 10px; */
    padding: 0% 3%;
  }

  .seeMoreSeeLessItemButton {
    border: none;
    background-color: transparent;
    width: 106.5%;
    /* margin: 0% -20%; */
    align-self: center;
    height: 60px;
    /* margin: 20px 0px; */
    color: rgb(19, 99, 204);
    font-size: 15px;
    font-weight: 500;
    margin-top: -20px;
  }

  .seeMoreSeeLessItemButton:hover {
    cursor: pointer;
    background-color: aliceblue;
  }


  .spogoLogo {
    display: flex;
    /* width: 100%; */
    /* align-self: center;
        align-items: center; */
  }

  .spogoLogo > img {
    display: block;
    object-fit: contain;
    margin: 50px auto;
    width: 30%;
  }

  .videoItemArrayList {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .wildcardLinkModalContentContainer > h1 {
    margin: 4% 0%;
    font-size: 20px;
  }

  .wildcardLinkModalContentContainer > p {
    margin: 2% 0%;
  }

  .wildcardLinkModalContainer {
    background-color: white;
    padding: 3% 10%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 100px 20%;
  }

  .wildcardLinkModalButtonsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
  }

  .wildcardLinkModalButton {
    flex: 0.5;
    margin: 0% 2%;
    border: none;
    background-color: #3eb489;
    color: black;
    padding: 5% 0%;
    border-radius: 5px;
  }

  .componentHeaderDivider {
    width: 100%;
  }

  .componentBottomDivider {
    width: 100%;
    margin-bottom: 20px;
    margin-top: -1px;
  }
}

@media screen and (min-width: 1200px) {
  .ProfileScreenContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: whitesmoke;
    overflow-x: hidden;
    height: 100vh;
  }

  .profileScrollBarContainer {
    position: fixed;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20%; 
    margin-left: 5%; 
    padding: 20px;
    border-radius: 10px;
    /* background-color: rgb(235, 223, 223); */
  }

  .profileSideBarItem {
    margin-top: 20px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .profileSideBarItem:hover {
    cursor: pointer;
    color: rgb(68, 50, 50);
    font-weight: bold;
  }

  .profileSideBarItem:active {
    transform: scale(1.05);
    font-size: 16;
    /* font-weight: bold; */
  }

  .profileChatRightTab {
    width: 20%;
    height: 200px;
    /* background-color: white; */
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .middleProfileContent {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
  }

  .profileHeader {
    /* border: solid; */
    margin-top: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    /* background-color: rgb(219, 208, 208); */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nameSportTextContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    /* margin-bottom: 1%; */
  }

  .websiteUserName {
    font-size: 20px;
    color: black;
    font-weight: 500;
  }

  .websiteSportPositionText {
    font-size: 16px;
    color: black;
    font-weight: 480;
    margin-top: 5px;
  }

  /*   .nameSportDivider {
    padding: 0% 3%;
    font-size: 30px;
  }

  .locationIconMediaTextContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
 */

  .locationIconTextContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
  }

  .locationText {
    font-size: 14px;
    color: black;
    font-weight: 400;
    margin-left: 5px;
    /* text-align: center; */
  }

  .profileTextContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
  }

  .profileImage {
    border-radius: 1000px;
    border: 3px solid white;
    object-fit: contain;
    width: 120px;
  }

  .socialIconsRow {
    display: flex;
    flex-direction: row;
    width: 250px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;

    /* justify-content: flex-start; */
  }

  .socialIcon {
    margin: 0px 5px;
  }

  .socialIcon:hover {
    /* margin-right: 5%; */
    cursor: pointer;
  }

  .bioContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    padding: 0% 3%;
    background-color: white;
  }

  .bioContainer > h1 {
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0px;
  }

  .bioContainer > p {
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0px;
  }

  .seeLessButton:hover {
    cursor: pointer;
  }

  .seeMoreButton:hover {
    cursor: pointer;
  }

  .componentHeaderDivider {
    width: 100%;
  }

  .seeMoreSeeLessItemButton {
    border: none;
    background-color: transparent;
    width: 106.5%;
    margin-top: -20px;
    /* margin: 0% -20%; */
    align-self: center;
    height: 60px;
    /* margin: 20px 0px; */
    color: rgb(19, 99, 204);
    font-size: 15px;
    font-weight: 500;
  }

  .seeMoreSeeLessItemButton:hover {
    cursor: pointer;
    background-color: aliceblue;
  }

  .componentBottomDivider {
    width: 100%;
    margin-bottom: 20px;
    margin-top: -1px;
  }

  .profileItemListHeader {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0px;
  }

  .profileItemListContainer {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    /* border-radius: 10px; */
    padding: 0% 3%;
  }

  .spogoLogo {
    display: flex;
    /* width: 100%; */
    /* align-self: center;
          align-items: center; */
  }

  .spogoLogo > img {
    display: block;
    object-fit: contain;
    margin: 50px auto;
    width: 30%;
  }

  .spogoLogo > img:hover {
   cursor: pointer;
  }


  .videoItemArrayList {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    margin-bottom: 20px;
  }

  .wildcardLinkModalContentContainer > h1 {
    margin: 4% 0%;
    font-size: 20px;
  }

  .wildcardLinkModalContentContainer > p {
    margin: 2% 0%;
  }

  .wildcardLinkModalContainer {
    background-color: white;
    padding: 3% 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 100px 35%;
  }

  .wildcardLinkModalButtonsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
  }

  .wildcardLinkModalButton {
    flex: 0.5;
    margin: 0% 2%;
    border: none;
    background-color: #3eb489;
    color: black;
    padding: 5% 0%;
    border-radius: 5px;
  }
}
