.Container {
    width: '100%';
    /* display: flex; */
    align-self: center;
    border-style: none none solid none;
    border-bottom-width: 1;
    border-color: lightgrey;
}

.Text {
    font-size: small;
}