@media screen and (max-width: 600px) {
  .ProfileScreenContainer {
    align-items: center;
    width: 100%;
    overflow-x: hidden;
  }

  .profileHeader {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #3eb489;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profileHeader > h1 {
    font-size: 22px;
    color: black;
    font-weight: bold;
    margin-top: 4%;
  }

  .profileHeader > h2 {
    font-size: 18px;
    color: black;
    font-weight: 400;
  }

  .profileHeader > h3 {
    font-size: 16px;
    color: black;
    font-weight: 400;
  }

  .profileImage {
    border-radius: 1000px;
    margin-top: 10%;
    border: 2px solid white;
    object-fit: contain;
    width: 35%;
  }

  .socialIconsRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .socialIcon {
    margin-left: 2%;
    margin-right: 2%;
  }

  .bioContainer {
    padding: 0% 5%;
  }

  .bioContainer > p {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    width: 100%;
    white-space: pre-wrap;
    overflow: hidden;
    
  }
  
  .bioDivider {
    margin-left: 5%;
    margin-right: 4%;
  }

  .seeMoreButton {
    border: none;
    background-color: white;
    font-size: 12px;
    font-weight: 600;
    color: grey;
  }

  .seeLessButton {
    border: none;
    background-color: white;
    font-size: 12px;
    font-weight: 600;
    color: grey;
    margin-top: 5px;
  }
 
  .profileItemListHeader {
    font-size: 18px;
    margin-left: 5%;
  }

  .profileItemListContainer {
    margin-top: 10px;
  }

  .spogoLogo {
    display: flex;
    /* width: 100%; */
    /* align-self: center;
      align-items: center; */
  }

  .spogoLogo > img {
    display: block;
    object-fit: contain;
    margin: 50px auto;
    width: 30%;
  }

  .videoItemArrayList {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
  .ProfileScreenContainer {
    align-items: center;
    width: 100%;
  }

  .profileHeader {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #3eb489;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profileHeader > h1 {
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin-top: 2%;
  }

  .profileHeader > h2 {
    font-size: 24px;
    color: black;
    font-weight: 400;
  }

  .profileHeader > h3 {
    font-size: 22px;
    color: black;
    font-weight: 400;
  }

  .profileImage {
    border-radius: 1000px;
    margin-top: 10%;
    border: 2px solid white;
    object-fit: contain;
    width: 35%;
  }

  .socialIconsRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .socialIcon {
    margin-left: 2%;
    margin-right: 2%;
  }

  .bioContainer {
    width: 100%;
    display: flex;
    align-items: center;
    align-self: center;
    padding: 0% 5%;
  }

  .bioContainer > p {
    font-size: 20px;
    font-weight: 400;
  }

  .profileItemListHeader {
    font-size: 26px;
    margin-left: 5%;
  }

  .profileItemListContainer {
    margin-top: 10px;
  }

  .spogoLogo {
    display: flex;
    /* width: 100%; */
    /* align-self: center;
        align-items: center; */
  }

  .spogoLogo > img {
    display: block;
    object-fit: contain;
    margin: 50px auto;
    width: 30%;
  }

  .videoItemArrayList {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1200px) {
    .ProfileScreenContainer {
      align-items: center;
      width: 100%;
    }
  
    .profileHeader {
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      background-color: #3eb489;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .profileHeader > h1 {
      font-size: 30px;
      color: black;
      font-weight: bold;
      margin-top: 2%;
    }
  
    .profileHeader > h2 {
      font-size: 24px;
      color: black;
      font-weight: 400;
    }
  
    .profileHeader > h3 {
      font-size: 22px;
      color: black;
      font-weight: 400;
    }
  
    .profileImage {
      border-radius: 1000px;
      margin-top: 10%;
      border: 2px solid white;
      object-fit: contain;
      width: 35%;
    }
  
    .socialIconsRow {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
    }
  
    .socialIcon {
      margin-left: 2%;
      margin-right: 2%;
    }
  
    .bioContainer {
      width: 100%;
      display: flex;
      align-items: center;
      align-self: center;
      padding: 0% 5%;
    }
  
    .bioContainer > h1 {
      font-size: 20px;
      font-weight: 400;
    }
  
    .profileItemListHeader {
      font-size: 26px;
      margin-left: 5%;
    }
  
    .profileItemListContainer {
      margin-top: 10px;
    }
  
    .spogoLogo {
      display: flex;
      /* width: 100%; */
      /* align-self: center;
          align-items: center; */
    }
  
    .spogoLogo > img {
      display: block;
      object-fit: contain;
      margin: 50px auto;
      width: 30%;
    }
  
    .videoItemArrayList {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
    }
  }

  .wildcardLinkModalContentContainer > h1 {
    margin: 4% 0%;
    font-size: 20px;
  }

  .wildcardLinkModalContentContainer > p {
    margin: 2% 0%;
  }

  .wildcardLinkModalContainer {
    background-color: white;
    padding: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40% 5%;
  }

  .wildcardLinkModalButtonsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
  }

  .wildcardLinkModalButton {
    flex: 0.5;
    margin: 0% 2%;
    border: none;
    background-color: #3EB489;
    color: black;
    padding: 5% 0%;
    border-radius: 5px;
  }
